# Core scientific packages - latest versions
numpy==2.3.3
scipy==1.16.2

# GUI packages
PyQt5==5.15.11
# GUI visualization packages
pyvista==0.46.3
pyvistaqt==0.11.3

# Network packages
requests==2.32.5
python-socketio[client]==5.13.0

# Server packages
flask==3.1.2
flask-socketio==5.5.1

# Utility packages
loguru==0.7.3
redis==6.4.0
